<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Deeplearning and ML Based AI Chatbot for agriculture.</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.css') }}">
    <!-- Slicknav -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		<!-- Get Pro Button -->
		
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
<div class="header-inner">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Start Logo -->
                    <div class="logo">
                        
                    </div>
                    <!-- End Logo -->
                    <!-- Mobile Nav -->
                    <div class="mobile-nav"></div>
                    <!-- End Mobile Nav -->
                </div>
                <div class="col-lg-7 col-md-9 col-12">
                    <!-- Main Menu -->
                    
                </div>
                <div class="col-lg-2 col-12">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Header Inner -->

		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{{ url_for('static', filename='img/s4.jpg') }}')">

					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Agriculture AI <span>Chatbot </span> Using<span>Deeplearning and ML</span></h1>
									<p>Using deeplearning and machinelearning for agriculture</p>
									<div class="button">
    
    <a href="{{ url_for('chatboat') }}" class="btn primary">use chatbot</a>
</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{{ url_for('static', filename='img/s5.jpg') }}')">

					<div class="container">
						<div class="row">
							<div class="col-lg-7">
									   <div class="text">
                                    <h1>Agriculture AI <span>Chatbot </span> Using<span>Deeplearning and ML</span></h1>
                                    <p>Using deeplearning and machinelearning for agriculture</p>
                                    <div class="button">
    
    <a href="{{ url_for('chatboat') }}" class="btn primary">use chatbot</a>
</div>

                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{{ url_for('static', filename='img/s6.jpeg') }}')">

					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								    <div class="text">
                                    <h1>Agriculture AI <span>Chatbot </span> Using<span>Deeplearning and ML</span></h1>
                                    <p>Using deeplearning and machinelearning for agriculture</p>
                                    <div class="button">
    
    <a href="{{ url_for('chatboat') }}" class="btn primary">use chatbot</a>
</div>

                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
    <span>AI Based Agriculture Chatbot </span>
    <h4>Deep Learning and ML Project</h4>
    <p>Build Multiple ML And DL Models accordingly needed for crop yield,crop recommendation,fertliser recommendation and crop disease detection.</p>
    
</div>

								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
								<div class="single-content">
    <span>Dataset</span>
    <h4>dataset details</h4>
    <p>we collected almost all data from Kaggle source.but we got it from different repository and we combined the multiple data sets accordingly.<br> <br></p>
    
</div>

								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
    <span>Chatbot</span>
    <h4>Build Chatbot</h4>
    <p>We built the chatbot using Deeplearning.befor that we have prepared dataset of set of Q and A.<br><br><br><br></p>
   
</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>accuracies of Crop Yield predictiom Models</h2>
							<img src="{{ url_for('static', filename='img/vgg19/acc_cy.png') }}" alt="#">

							<p>Details</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->

						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">

</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->
		
<!-- Start Feautes -->
        <section class="Feautes section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>below are Crop recommendation models accuracies</h2>
                            <img src="{{ url_for('static', filename='img/vgg19/acc_cr.png') }}" alt="#">

                            <p>Details</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <!-- Start Single features -->

                        <!-- End Single features -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <!-- Start Single features -->
                       
                        <!-- End Single features -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <!-- Start Single features -->
                        <div class="single-features">
   
</div>
                        <!-- End Single features -->
                    </div>
                </div>
            </div>
        </section>
        <!--/ End Feautes -->

<!-- Start Feautes -->
        <section class="Feautes section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>below are fertiliser recommendation </h2>
                            <img src="{{ url_for('static', filename='img/vgg19/acc_fr.png') }}" alt="#">

                            <p>Details</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <!-- Start Single features -->
<div class="single-features">

   
</div>
                        <!-- End Single features -->
                    </div>
                    <div class="col-lg-4 col-12">
                       
                        <!-- End Single features -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <!-- Start Single features -->
                        <div class="single-features">
 
</div>
                        <!-- End Single features -->
                    </div>
                </div>
            </div>
        </section>
        <!--/ End Feautes -->
<!-- Start Feautes -->
        <section class="Feautes section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>below are plant disease detection model accuracies</h2>
                            <img src="{{ url_for('static', filename='img/vgg19/acc_pd.png') }}" alt="#">

                            <p>Details</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <!-- Start Single features -->
<div class="single-features">

   
</div>
                        <!-- End Single features -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <!-- Start Single features -->
                        
                        <!-- End Single features -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <!-- Start Single features -->
                        <div class="single-features">
   
</div>
                        <!-- End Single features -->
                    </div>
                </div>
            </div>
        </section>
        <!--/ End Feautes -->		
<section class="why-choose section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>How an Agriculture Chatbot Can Help Farmers</h2>
                    <img src="{{ url_for('static', filename='img/section-img.png') }}" alt="#">
                    <p>Learn how an agriculture chatbot assists farmers in optimizing crop yield, managing resources, and addressing agricultural challenges.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <!-- Start Choose Left -->
                <div class="choose-left">
                    <h3>About the Agriculture Chatbot</h3>
                    <p>An agriculture chatbot is an AI-powered tool designed to provide personalized assistance to farmers in various aspects of agriculture.</p>
                    <p>It utilizes advanced algorithms to analyze data related to soil health, weather conditions, crop patterns, and market trends to offer valuable insights and recommendations.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list">
                                <li><i class="fa fa-caret-right"></i>Optimizing crop yield</li>
                                <li><i class="fa fa-caret-right"></i>Resource management</li>
                                <li><i class="fa fa-caret-right"></i>Pest and disease identification</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list">
                                <li><i class="fa fa-caret-right"></i>Market analysis and trends</li>
                                <li><i class="fa fa-caret-right"></i>Weather forecasting</li>
                                <li><i class="fa fa-caret-right"></i>Real-time support and assistance</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Choose Left -->
            </div>
            <div class="col-lg-6 col-12">
                <!-- Start Choose Rights -->
                <div class="choose-right">
                    <div class="video-image">
                        <!-- Image or Animation Related to Agriculture Chatbot -->
                        <img src="path_to_your_image" alt="Agriculture Chatbot Image">
                    </div>
                </div>
                <!-- End Choose Rights -->
            </div>
        </div>
    </div>
</section>


		
		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="content">
                    <h2>our models is trained and tested well</h2>
                    <p>image augmentation was an extra way we tried to get better result and we succeded in it.</p>
                    <div class="button">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Call to action -->

		<!--/ End Call to action -->
		
		
<section class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Solving Agricultural Challenges with AI</h2>
                    <img src="img/section-img.png" alt="#">
                    <p>Learn how AI solutions are addressing various challenges in agriculture.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Updated content for different types of agricultural problems and AI solutions -->
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-soil"></i>
                    <h4><a href="service-details.html">Soil Health Management</a></h4>
                    <p>AI algorithms analyze soil composition, moisture levels, and nutrient content to provide personalized recommendations for soil management practices such as fertilization and irrigation, optimizing crop yield and minimizing environmental impact.</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-tree-alt"></i>
                    <h4><a href="service-details.html">Crop Disease Detection</a></h4>
                    <p>AI-powered image recognition systems identify signs of diseases, pests, and nutrient deficiencies in crops by analyzing images of leaves or plants. Early detection allows farmers to take timely action, preventing crop losses and reducing the need for pesticides.</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-water-drop"></i>
                    <h4><a href="service-details.html">Water Management</a></h4>
                    <p>AI models process data from sensors, weather forecasts, and historical patterns to optimize water usage in agriculture. By precisely scheduling irrigation and detecting leaks or inefficiencies, AI helps conserve water resources and improve crop productivity.</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-bug"></i>
                    <h4><a href="service-details.html">Pest Control</a></h4>
                    <p>AI-driven pest monitoring systems track pest populations in fields using data from traps, drones, or satellite imagery. Machine learning algorithms predict pest outbreaks and recommend targeted interventions, reducing reliance on chemical pesticides and minimizing crop damage.</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-leaf"></i>
                    <h4><a href="service-details.html">Crop Yield Prediction</a></h4>
                    <p>AI models analyze historical data, weather patterns, and satellite imagery to forecast crop yields accurately. These predictions help farmers make informed decisions regarding planting, harvesting, and marketing, optimizing resource allocation and profitability.</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-fertilizer"></i>
                    <h4><a href="service-details.html">Fertilizer Optimization</a></h4>
                    <p>AI algorithms analyze soil samples and crop nutrient requirements to recommend precise fertilizer applications. By minimizing nutrient wastage and environmental pollution, AI-driven fertilization strategies enhance soil health and promote sustainable agriculture.</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!--/ End service -->

<footer id="footer" class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <h1>RECENT RESEARCH AND NEWS</h1>
            <div>
                <div>
                    <h2 style="color: white;">AI Revolutionizing Agriculture: Improving Crop Yield and Sustainability</h2>
                    <p style="color: white; font-size: 18px;">Feb. 15, 2024 — Scientists unveil new AI-driven techniques that analyze soil data, weather patterns, and crop health to optimize farming practices. By leveraging machine learning algorithms, farmers can enhance crop yield while minimizing resource usage and environmental impact.</p>
                </div>

                <div>
                    <h2 style="color: white;">AI-Powered Pest Detection System Reduces Crop Damage and Chemical Use</h2>
                    <p style="color: white; font-size: 18px;">Jan. 20, 2024 — Researchers develop an innovative AI-based pest detection system that identifies pests and diseases in crops with high accuracy. By providing early warnings, farmers can take targeted action, reducing crop damage and minimizing the need for chemical pesticides.</p>
                </div>

                <div>
                    <h2 style="color: white;">Precision Agriculture: AI Sensors Enhance Crop Monitoring and Management</h2>
                    <p style="color: white; font-size: 18px;">Dec. 10, 2023 — Advancements in AI sensor technology enable precise monitoring of crop health, soil moisture, and nutrient levels in real-time. Integrated with AI algorithms, these sensors empower farmers to make data-driven decisions, optimizing irrigation, fertilization, and pest control strategies.</p>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
</footer>

		<!--/ End Footer Area -->
		
<!-- jquery Min JS -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- jquery Migrate JS -->
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}"></script>
<!-- jquery Ui JS -->
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<!-- Easing JS -->
<script src="{{ url_for('static', filename='js/easing.js') }}"></script>
<!-- Color JS -->
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<!-- Popper JS -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- Bootstrap Datepicker JS -->
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<!-- Jquery Nav JS -->
<script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
<!-- Slicknav JS -->
<script src="{{ url_for('static', filename='js/slicknav.min.js') }}"></script>
<!-- ScrollUp JS -->
<script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
<!-- Niceselect JS -->
<script src="{{ url_for('static', filename='js/niceselect.js') }}"></script>
<!-- Tilt Jquery JS -->
<script src="{{ url_for('static', filename='js/tilt.jquery.min.js') }}"></script>
<!-- Owl Carousel JS -->
<script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
<!-- counterup JS -->
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
<!-- Steller JS -->
<script src="{{ url_for('static', filename='js/steller.js') }}"></script>
<!-- Wow JS -->
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
<!-- Magnific Popup JS -->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<!-- Counter Up CDN JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Main JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>